<link rel='apple-touch-icon' sizes='180x180' href='{{ absURL "images/icons/apple-touch-icon.png" }}'>
<link rel='icon' type='image/png' sizes='32x32' href='{{ absURL "images/icons/favicon.png" }}'>
<link rel='icon' type='image/png' sizes='16x16' href='{{ absURL "images/icons/favicon.png" }}'>
<link rel='manifest' href='{{ absURL "images/icons/site.webmanifest" }}'>
