<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147094029-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-147094029-2');
    </script>
        
    <title>{{ with .Title }}{{ humanize . }} | {{ end }}{{ .Site.Title }}</title>
    <meta charset='utf-8'>
    {{ hugo.Generator }}
    {{- with .Site.Params.ga_verify }}
    <meta name="google-site-verification" content="{{ . }}" />
    {{- end }}
    <meta name = 'viewport' content = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
    <meta http-equiv = 'X-UA-Compatible' content = 'IE=edge'>
    {{- if (ne hugo.Environment "development") }}
    {{- partial "analytics.html" . }}
    {{- end }}
    {{- partial "opengraph.html" . }}
    {{- partial "favicon.html" . }}
    <link rel='canonical' href='{{ .Permalink }}'>
    {{- $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed" "enableSourceMap" "true") -}}
    {{- $styles := resources.Get "sass/main.sass" | resources.ExecuteAsTemplate "main.sass" . | resources.ToCSS $options | resources.Fingerprint "sha512" }}
    <link rel = 'stylesheet' href = '{{ $styles.Permalink }}' integrity = '{{ $styles.Data.Integrity }}'>
    <!-- TA CHANGES -->
    <style>
      img {
        display: table;
        margin: 0 auto;
      }
    </style>
</head>
